@import '../../styles/fonts/fonts';
@import '../../styles/colors/colors';

.section {
  &__subtitle {
    font-size: 24px;
    color: $titleColor;
    @include SubtitleFont
  }
  &__title {
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    margin: 23px 0 90px;
    @include Bold;
    color: $titleColor;
    &::after {
      content: "";
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      width: 60px;
      background-color: $titleLine;
    }
  }
}

@media (max-width: 992px) {
  .section {
    &__title {
      margin-bottom: 70px;
    }
  }
}